.pay_method{
    padding: 3px;
    color: #fffdef;
    border-radius: 3px;
}
.cashPayUrl{
    background: #f42f34;
}
.wxPayUrl{
    background: #86c610;
}
.aliPayUrl{
    background: #56abe4;
}

.search {
    float: right;
    margin-right: 15px;
    color: #999999;
}